@import "tailwindcss";

/** GLOBAL **/
*, *::before, *::after {
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  /* change color */
  --r: 255;
  --g: 0;
  --b: 0;
  --text-color: calc(var(--r), var(--g), var(--b))

}

@layer components {
  .page {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
  }
}